node_modules
**/node_modules
.git
.github
.gemini
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.env
.env.*
.env.local
coverage
dist
**/dist
.turbo
**/.turbo
.next
**/.next
playwright-report
test-results
scratch
